{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 4
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-unicode-property-regex"
  ]
}
